In [ ]:
# Instalar os programas e bibliotecas que serão utilizados
!sudo apt install
!pip install kaggle
!sudo apt-get install unzip
!pip install pandas

Reading package lists... Done
Building dependency tree
Reading state information... Done
0 upgraded, 0 newly installed, 0 to remove and 42 not upgraded.
Requirement already satisfied: kaggle in /opt/conda/lib/python3.7/site-packages (1.5.10)
Requirement already satisfied: certifi in /opt/conda/lib/python3.7/site-packages (from kaggle) (2020.12.5)
Requirement already satisfied: six>=1.10 in /opt/conda/lib/python3.7/site-packages (from kaggle) (1.15.0)
Requirement already satisfied: tqdm in /opt/conda/lib/python3.7/site-packages (from kaggle) (4.56.0)
Requirement already satisfied: urllib3 in /opt/conda/lib/python3.7/site-packages (from kaggle) (1.26.3)
Requirement already satisfied: python-dateutil in /opt/conda/lib/python3.7/site-packages (from kaggle) (2.8.1)
Requirement already satisfied: python-slugify in /opt/conda/lib/python3.7/site-packages (from kaggle) (4.0.1)
Requirement already satisfied: requests in /opt/conda/lib/python3.7/site-packages (from kaggle) (2.25.1)
Requirement already satisfied: text-unidecode>=1.3 in /opt/conda/lib/python3.7/site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<5,>=3.0.2 in /opt/conda/lib/python3.7/site-packages (from requests->kaggle) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /opt/conda/lib/python3.7/site-packages (from requests->kaggle) (2.10)
Reading package lists... Done
Building dependency tree
Reading state information... Done
unzip is already the newest version (6.0-23+deb10u2).
0 upgraded, 0 newly installed, 0 to remove and 42 not upgraded.
Requirement already satisfied: pandas in /opt/conda/lib/python3.7/site-packages (1.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.7/site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.7/site-packages (from pandas) (2021.1)
Requirement already satisfied: numpy>=1.16.5 in /opt/conda/lib/python3.7/site-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
# Importar a biblioteca do Kaggle para acessar a API
import kaggle

In [ ]:
# Criar a pasta Kaggle na VM para armazenar a chave de acesso
!mkdir ~/.kaggle

mkdir: cannot create directory ‘/home/jupyter/.kaggle’: File exists

In [ ]:
!echo '{"username":"greycecossil","key":"bd8cb31d70849c4496f24e7ba3d7f8a1"}' > ~/.kaggle/kaggle.json

In [ ]:
# Mover o arquivo JSON (chave de acesso) para a pasta Kaggle
!sudo mv /home/jupyter/kaggle.json /home/jupyter/.kaggle/

mv: cannot stat '/home/jupyter/kaggle.json': No such file or directory

In [ ]:
# Listar os arquivos dentro da pasta Kaggle para verificar se o JSON foi movido corretamente
!cd /home/jupyter/.kaggle/ && ls

kaggle.json

In [ ]:
# Alterar as permissões de acesso ao arquivo e executá-lo
!chmod 600 /home/jupyter/.kaggle/kaggle.json

In [ ]:
# Fazer o download do dataset do Kaggle - o download é feito em formato compactado
!kaggle datasets download -d berkeleyearth/climate-change-earth-surface-temperature-data --force

Downloading climate-change-earth-surface-temperature-data.zip to /home/jupyter/base
 99%|█████████████████████████████████████▋| 84.0M/84.7M [00:10<00:00, 9.01MB/s]
100%|██████████████████████████████████████| 84.7M/84.7M [00:10<00:00, 8.58MB/s]

In [ ]:
# Descompactar a pasta do dataset e salvar os arquivos na pasta temperatura
!unzip climate-change-earth-surface-temperature-data.zip -d /home/jupyter/

# 1. Global

In [ ]:
# Importar biblioteca pandas para tratamento dos dados
import pandas as pd

In [ ]:
# Ler a base com o historico de tempetura global
TempGlobal = pd.read_csv('/home/jupyter/temperatura/GlobalTemperatures.csv')

# Listar todas as colunas para visualizar quais serão utilizadas
TempGlobal.columns

Index(['dt', 'LandAverageTemperature', 'LandAverageTemperatureUncertainty',
       'LandMaxTemperature', 'LandMaxTemperatureUncertainty',
       'LandMinTemperature', 'LandMinTemperatureUncertainty',
       'LandAndOceanAverageTemperature',
       'LandAndOceanAverageTemperatureUncertainty'],
      dtype='object')

In [ ]:
# Selecionar as colunas que serão utilizadas
TempGlobal = TempGlobal.filter(items=['dt', 'LandAverageTemperature',
                                      'LandAndOceanAverageTemperature'
                                     ]
                              )

In [ ]:
# Transformar a coluna dt em formato de data
TempGlobal['dt'] = pd.to_datetime(TempGlobal['dt'], format='%Y-%m-%d')

# Extrair a informação de ano na coluna dt
TempGlobal['dt'] = TempGlobal['dt'].dt.strftime('%Y')

# Converter coluna dt para número inteiro
TempGlobal = TempGlobal.astype({'dt': int})

# Alterar nomes das colunas
TempGlobal = TempGlobal.rename(columns={'dt': 'year',
                                        'LandAverageTemperature': 'AverageTemperature',
                                        'LandAndOceanAverageTemperature': 'OceanAverageTemperature'
                                       }
                              )

In [ ]:
# Calcular as médias das temperaturas e agrupar por ano
MediaTempGlobal = TempGlobal.groupby(['year']).mean()

# Converter índices do DataFrame em colunas
MediaTempGlobal = MediaTempGlobal.reset_index()

# Visualizar o novo dataframe
MediaTempGlobal.head()

   year  AverageTemperature  OceanAverageTemperature
0  1750            8.719364                      NaN
1  1751            7.976143                      NaN
2  1752            5.779833                      NaN
3  1753            8.388083                      NaN
4  1754            8.469333                      NaN

# 2. Base de Dados 1 - "Emission_Country_Year"

In [ ]:
#Leitura de arquivo salvo na VM
Emission_Country_Year = pd.read_csv('/home/jupyter/base/Emission_Country_Year.csv')
#Drop coluna 'Unnamed: 0'
Emission_Country_Year.drop(['Unnamed: 0'],axis=1,inplace=True)
#exibição do dataframe
Emission_Country_Year

,iso_code,country,year,co2,co2_per_capita,share_global_co2,cumulative_co2,share_global_cumulative_co2,co2_per_gdp,cement_co2,...,share_global_cumulative_cement_co2,total_ghg,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,population,gdp,Kyoto
0,AFG,Afghanistan,1949,0.015,0.002,0.000,0.015,0.000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7663783.0,NaN,True
1,AFG,Afghanistan,1950,0.084,0.011,0.001,0.099,0.000,0.004,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7752000.0,1.949480e+10,True
2,AFG,Afghanistan,1951,0.092,0.012,0.001,0.191,0.000,0.005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7840000.0,2.006385e+10,True
3,AFG,Afghanistan,1952,0.092,0.012,0.001,0.282,0.000,0.004,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7936000.0,2.074235e+10,True
4,AFG,Afghanistan,1953,0.106,0.013,0.002,0.388,0.000,0.005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8040000.0,2.201546e+10,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23703,ZWE,Zimbabwe,2015,12.170,0.881,0.035,726.480,0.048,0.486,0.504,...,0.049,67.49,4.885,11.87,0.859,6.68,0.484,13815000.0,2.503057e+10,True
23704,ZWE,Zimbabwe,2016,10.815,0.771,0.031,737.295,0.048,0.430,0.581,...,0.049,65.98,4.703,11.92,0.850,6.55,0.467,14030000.0,2.515176e+10,True
23705,ZWE,Zimbabwe,2017,10.247,0.720,0.029,747.542,0.047,NaN,0.581,...,0.048,NaN,NaN,NaN,NaN,NaN,NaN,14237000.0,NaN,True
23706,ZWE,Zimbabwe,2018,11.341,0.785,0.031,758.882,0.047,NaN,0.581,...,0.048,NaN,NaN,NaN,NaN,NaN,NaN,14439000.0,NaN,True
23707,ZWE,Zimbabwe,2019,10.374,0.708,0.028,769.256,0.047,NaN,0.581,...,0.048,NaN,NaN,NaN,NaN,NaN,NaN,14645000.0,NaN,True

Tratamento da base "1. Emission_Country_Year"

In [ ]:
#Criação de dataframe com 2 colunas de Emission_Country_Year
Country_IsoCode = Emission_Country_Year[['iso_code', 'country', 'year']]
#Drop todos os valores nulos da coluna 'country' 
Country_IsoCode.dropna(subset=['country'], inplace=True)
#exibição do dataframe
Country_IsoCode

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

      iso_code      country  year
0          AFG  Afghanistan  1949
1          AFG  Afghanistan  1950
2          AFG  Afghanistan  1951
3          AFG  Afghanistan  1952
4          AFG  Afghanistan  1953
...        ...          ...   ...
23703      ZWE     Zimbabwe  2015
23704      ZWE     Zimbabwe  2016
23705      ZWE     Zimbabwe  2017
23706      ZWE     Zimbabwe  2018
23707      ZWE     Zimbabwe  2019

[23708 rows x 3 columns]

In [ ]:
#Preencher sempre que Iso_code valer Nan
Country_IsoCode['iso_code'].fillna('Preencher',inplace=True)
#Agrupamento por 'iso_code' selecionando os dados da tabela 'country' index resetado para 'iso_code' e o index virou a coluna
Country_IsoCode = Country_IsoCode.groupby('country')['iso_code'].apply(lambda Country_IsoCode: Country_IsoCode.reset_index(drop=True)).unstack(0)
#Drop todos os valores nulos
Country_IsoCode.dropna(inplace = True)
#exibição do dataframe
Country_IsoCode

/opt/conda/lib/python3.7/site-packages/pandas/core/series.py:4439: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

country,Afghanistan,Africa,Albania,Algeria,Andorra,Angola,Anguilla,Antigua and Barbuda,Argentina,Armenia,...,Uruguay,Uzbekistan,Vanuatu,Venezuela,Vietnam,Wallis and Futuna Islands,World,Yemen,Zambia,Zimbabwe
0,AFG,Preencher,ALB,DZA,AND,AGO,AIA,ATG,ARG,ARM,...,URY,UZB,VUT,VEN,VNM,WLF,OWID_WRL,YEM,ZMB,ZWE

In [ ]:
#dataframe transposto
Country_IsoCode = Country_IsoCode.transpose()
#reset de index
Country_IsoCode.reset_index(inplace = True)
#Substitui a string ' ' por '' na coluna 'country' quando a mesma finalizar com este valor 
Country_IsoCode.country = Country_IsoCode.country.str.replace(' $', '')
#Renomear nome das colunas
Country_IsoCode.columns=['Country','Iso_code']
#exibição do dataframe
Country_IsoCode

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:6: FutureWarning: The default value of regex will change from True to False in a future version.

                       Country   Iso_code
0                  Afghanistan        AFG
1                       Africa  Preencher
2                      Albania        ALB
3                      Algeria        DZA
4                      Andorra        AND
..                         ...        ...
231  Wallis and Futuna Islands        WLF
232                      World   OWID_WRL
233                      Yemen        YEM
234                     Zambia        ZMB
235                   Zimbabwe        ZWE

[236 rows x 2 columns]

In [ ]:
#verificando quantos valores da coluna 'Country são nulos'
Country_IsoCode['Country'].nunique()

236

# 3. Temperatura

In [ ]:
# Ler a base com o historico de tempetura por país
TempPais = pd.read_csv('/home/jupyter/temperatura/GlobalLandTemperaturesByCountry.csv')

# Listar colunas do DataFrame para veririficar quais serão utilizadas
TempPais.columns

Index(['dt', 'AverageTemperature', 'AverageTemperatureUncertainty', 'Country'], dtype='object')

In [ ]:
# Selecionar as colunas que serão utilizadas
TempPais = TempPais.filter(items=['dt', 'Country', 'AverageTemperature'])
TempPais.Country = TempPais.Country.str.replace(' $', '')

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
TempPais.dropna(subset=['Country'], inplace=True)
TempPais

                dt   Country  AverageTemperature
0       1743-11-01     Åland               4.384
1       1743-12-01     Åland                 NaN
2       1744-01-01     Åland                 NaN
3       1744-02-01     Åland                 NaN
4       1744-03-01     Åland                 NaN
...            ...       ...                 ...
577457  2013-05-01  Zimbabwe              19.059
577458  2013-06-01  Zimbabwe              17.613
577459  2013-07-01  Zimbabwe              17.000
577460  2013-08-01  Zimbabwe              19.759
577461  2013-09-01  Zimbabwe                 NaN

[577462 rows x 3 columns]

# 4. Análise

In [ ]:
#Dataframe criado com as linhas em que a coluna 'Participant' nao estava em Country_IsoCode['country'] nesse caso sera necessario substituir
#Paris_Agreement_Countries['Participant'] pela sua base e coluna a qual contem o nome dos países
Paris_naoIsocode = TempPais[TempPais['Country'].isin(Country_IsoCode['Country']) == False]
#contando o numero de linhas nao casadas
Paris_naoIsocode.count()

dt                    131345
Country               131345
AverageTemperature    123121
dtype: int64

In [ ]:
Paris_naoIsocode['Country'].unique()

array(['Åland', 'American Samoa', 'Antarctica', 'Antigua And Barbuda',
       'Baker Island', 'Bonaire, Saint Eustatius And Saba',
       'Bosnia And Herzegovina', 'Burma', "Côte D'Ivoire",
       'Cayman Islands', 'Congo (Democratic Republic Of The)', 'Curaçao',
       'Czech Republic', 'Denmark (Europe)',
       'Falkland Islands (Islas Malvinas)', 'Faroe Islands',
       'Federated States Of Micronesia', 'France (Europe)',
       'French Guiana', 'French Southern And Antarctic Lands',
       'Gaza Strip', 'Guadeloupe', 'Guam', 'Guernsey', 'Guinea Bissau',
       'Heard Island And Mcdonald Islands', 'Isle Of Man', 'Jersey',
       'Kingman Reef', 'Macau', 'Macedonia', 'Martinique', 'Mayotte',
       'Monaco', 'Netherlands (Europe)', 'Northern Mariana Islands',
       'Palestina', 'Palmyra Atoll', 'Reunion', 'Saint Barthélemy',
       'Saint Kitts And Nevis', 'Saint Martin',
       'Saint Pierre And Miquelon', 'Saint Vincent And The Grenadines',
       'San Marino', 'Sao Tome And Principe', 'Sint Maarten',
       'South Georgia And The South Sandwich Isla',
       'Svalbard And Jan Mayen', 'Swaziland', 'Timor Leste',
       'Trinidad And Tobago', 'Turks And Caicas Islands',
       'United Kingdom (Europe)', 'Virgin Islands', 'Western Sahara'],
      dtype=object)

In [ ]:
NaoTemper_Isocode = Country_IsoCode[Country_IsoCode['Country'].isin(TempPais['Country']) == False]
#contando o numero de linhas nao casadas
NaoTemper_Isocode.count()

Country     49
Iso_code    49
dtype: int64

In [ ]:
NaoTemper_Isocode['Country'].unique()

array(['Antigua and Barbuda', 'Asia (excl. China & India)', 'Bermuda',
       'Bonaire Sint Eustatius and Saba', 'Bosnia and Herzegovina',
       'Brunei', 'Cook Islands', "Cote d'Ivoire", 'Czechia',
       'Democratic Republic of Congo', 'EU-27', 'EU-28', 'Eswatini',
       'Europe (excl. EU-27)', 'Europe (excl. EU-28)', 'Faeroe Islands',
       'French Equatorial Africa', 'French West Africa', 'Guinea-Bissau',
       'International transport', 'Kosovo', 'Kuwaiti Oil Fires',
       'Leeward Islands', 'Macao', 'Maldives', 'Marshall Islands',
       'Micronesia', 'Myanmar', 'Nauru', 'North America (excl. USA)',
       'North Macedonia', 'Palestine', 'Panama Canal Zone',
       'Ryukyu Islands', 'Saint Helena', 'Saint Kitts and Nevis',
       'Saint Pierre and Miquelon', 'Saint Vincent and the Grenadines',
       'Sao Tome and Principe', 'Sint Maarten (Dutch part)',
       'South Sudan', 'St. Kitts-Nevis-Anguilla', 'Timor',
       'Trinidad and Tobago', 'Turks and Caicos Islands', 'Tuvalu',
       'Vanuatu', 'Wallis and Futuna Islands', 'World'], dtype=object)

# 5. Alteração na base Temperatura

In [ ]:
TempPais.replace(to_replace={'Country': 'Timor Leste'}, value='Timor', inplace=True)
TempPais.replace(to_replace={'Country': 'Czech Republic'}, value='Czechia', inplace=True)
TempPais.replace(to_replace={'Country': "Côte D'Ivoire"}, value="Cote d'Ivoire", inplace=True)
TempPais.replace(to_replace={'Country': 'Bosnia And Herzegovina'}, value='Bosnia and Herzegovina', inplace=True)
TempPais.replace(to_replace={'Country': 'Bonaire, Saint Eustatius And Saba'}, value='Bonaire Sint Eustatius and Saba', inplace=True)
TempPais.replace(to_replace={'Country': 'Congo (Democratic Republic Of The)'}, value='Democratic Republic of Congo', inplace=True)
TempPais.replace(to_replace={'Country': 'Faroe Islands'}, value='Faeroe Islands', inplace=True)
TempPais.replace(to_replace={'Country': 'Guinea Bissau'}, value='Guinea-Bissau', inplace=True)
TempPais.replace(to_replace={'Country': 'Sao Tome And Principe'}, value='Sao Tome and Principe', inplace=True)
TempPais.replace(to_replace={'Country': 'Saint Vincent And The Grenadines'}, value='Saint Vincent and the Grenadines', inplace=True)
TempPais.replace(to_replace={'Country': 'Federated States Of Micronesia'}, value='Micronesia', inplace=True)
TempPais.replace(to_replace={'Country': 'Palestina'}, value='Palestine', inplace=True)
TempPais.replace(to_replace={'Country': 'Sint Maarten'}, value='Sint Maarten (Dutch part)', inplace=True)
TempPais.replace(to_replace={'Country': 'Turks And Caicas Islands'}, value='Turks and Caicos Islands', inplace=True)
TempPais.replace(to_replace={'Country': 'Trinidad And Tobago'}, value='Trinidad and Tobago', inplace=True)
TempPais.replace(to_replace={'Country': 'Macedonia'}, value='North Macedonia', inplace=True)
TempPais.replace(to_replace={'Country': 'Macau'}, value='Macao', inplace=True)
TempPais.replace(to_replace={'Country': 'Saint Pierre And Miquelon'}, value='Saint Pierre and Miquelon', inplace=True)
TempPais.replace(to_replace={'Country': 'Antigua And Barbuda'}, value='Antigua and Barbuda', inplace=True)
TempPais.replace(to_replace={'Country': 'Saint Kitts And Nevis'}, value='St. Kitts-Nevis-Anguilla', inplace=True)

Drop de valores que não existiam na base de "1. Emission_Country_Year".

In [ ]:
#Criação de nova coluna
TempPais['IsInCountry_IsoCode'] = TempPais['Country'].isin(Country_IsoCode['Country'])
#indexação
indexNames = TempPais[(TempPais['IsInCountry_IsoCode'] == False)].index
# Get indexes where name column doesn't have value john
TempPais.drop(indexNames, inplace=True)
#reset index
TempPais = TempPais.reset_index()
#Drop coluna index
TempPais.drop(['index'],axis=1, inplace=True)
#Drop coluna IsInCountry_IsoCode
TempPais.drop(['IsInCountry_IsoCode'],axis=1, inplace=True)
#exibição do dataframe
TempPais

                dt      Country  AverageTemperature
0       1838-04-01  Afghanistan              13.008
1       1838-05-01  Afghanistan                 NaN
2       1838-06-01  Afghanistan              23.950
3       1838-07-01  Afghanistan              26.877
4       1838-08-01  Afghanistan              24.938
...            ...          ...                 ...
493258  2013-05-01     Zimbabwe              19.059
493259  2013-06-01     Zimbabwe              17.613
493260  2013-07-01     Zimbabwe              17.000
493261  2013-08-01     Zimbabwe              19.759
493262  2013-09-01     Zimbabwe                 NaN

[493263 rows x 3 columns]

In [ ]:
# Get indexes where name column doesn't have value john
indexNames1 = TempPais[(TempPais['dt'] < '1850-01-01')].index
#reset index
TempPais.drop(indexNames1, inplace=True)
#reset index
TempPais

                dt      Country  AverageTemperature
141     1850-01-01  Afghanistan              -1.288
142     1850-02-01  Afghanistan               3.143
143     1850-03-01  Afghanistan               8.583
144     1850-04-01  Afghanistan              13.456
145     1850-05-01  Afghanistan              18.717
...            ...          ...                 ...
493258  2013-05-01     Zimbabwe              19.059
493259  2013-06-01     Zimbabwe              17.613
493260  2013-07-01     Zimbabwe              17.000
493261  2013-08-01     Zimbabwe              19.759
493262  2013-09-01     Zimbabwe                 NaN

[400956 rows x 3 columns]

5.2. Salvamento de arquivos no Storage

In [ ]:
#importação de pacote
from google.cloud import storage

In [ ]:
# criação de um dataframe com a chave criada no IAM
key = pd.read_csv('/home/greyce_cos_sil/projetoteste-299919-abc73be2d5b5.json') 
#key

In [ ]:
# setando as credeciais com o arquivo json que contem a chave
client = storage.Client.from_service_account_json(json_credentials_path='/home/greyce_cos_sil/projetoteste-299919-abc73be2d5b5.json')

In [ ]:
# setando o bucket onde deseja-se salvar os arquivos
bucket = client.get_bucket('jupyter_note')

5.2.1 Dataframe MediaTempGlobal

In [ ]:
#salvando os dados do dataframe Kyoto_Agreement_Countries em um arquivo csv
MediaTempGlobal.to_csv("MediaTempGlobal.csv")

In [ ]:
#Nome do arquivo que será salvo no bucket
MediaTempGlobal_bucket = bucket.blob('MediaTempGlobal.csv')

In [ ]:
# Name of the object in local file system
MediaTempGlobal_bucket.upload_from_filename('MediaTempGlobal.csv')

5.2.2 Dataframe TempPais

In [ ]:
#salvando os dados do dataframe Kyoto_Agreement_Countries em um arquivo csv
TempPais.to_csv("Temperature_Countries_Year.csv")

In [ ]:
#Nome do arquivo que será salvo no bucket
TempPais_bucket = bucket.blob('Temperature_Countries_Year.csv')

In [ ]:
# Name of the object in local file system
TempPais_bucket.upload_from_filename('/home/jupyter/base/Temperature_Countries_Year.csv')

Autor do notebook >>>>>>>>>>>>>>>>>>> Mayara